html,
body
  width 100%
  height 100%
h1
  display none
.layout-content
  width 100%
  height 100%
  overflow hidden
.layout-menu
  float left
  width 25%
  height 100%
.layout-detail
  float left
  width 75%
  height 100%
.general
  height 100%
.general-users
  height 33%
  background blue
.general-lives
  height 34%
  background lightblue
.general-vods
  height 33%
  background darkblue
.users
  height 100%
  overflow hidden
.users-map
  float left
  width 67%
  height 67%
  background red
.users-class
  float right
  width 33%
  height 33%
  background darkred
.users-rate
  float right
  width 33%
  height 34%
  background indianred
.users-count
  float left
  width 67%
  height 33%
  background mediumvioletred
.users-inch
  float right
  width 33%
  height 33%
  background orangered